.addcircle {
  color: #757779 !important;
  width: 30px;
  height: 30px;
  float: right;
  position: relative;
  z-index: 10;
  margin-top: -40px;
  margin-right: 60px;
}
.addcircle:hover {
  cursor: pointer !important;
  color: #000000 !important;
}
CAccordionItem:hover {
  background-color: none;
}

.rmborder {
  border-bottom: none !important;
  margin: 0;
  padding: 0;
}
.familycard {
  padding: 10px;
  width: 100%;
}

.deletebtn {
  color: #757779 !important;
  width: 25px;
  height: 25px;
  float: right;
  position: relative;
  z-index: 10;
  margin-top: -38px;
  margin-right: 40px;
}

.deletebtn:hover {
  cursor: pointer !important;
  color: #c52424 !important;
}

.editbtn {
  color: #757779 !important;
  width: 25px;
  height: 25px;
  float: right;
  position: relative;
  z-index: 10;
  margin-top: -38px;
  margin-right: 85px;
}

.editbtn:hover {
  cursor: pointer !important;
  color: #000000 !important;
}
