.CCarousel {
  padding: 0;
  margin: 0;
  width: 100%;
}

.vidHgt {
  max-height: 100vh;
  overflow: auto;
  object-fit: cover;
}

.center {
  position: relative;
  z-index: 10;
  margin-top: -490px;
  margin-left: 20px;
  padding: 0;
}

.center h1 {
  font-weight: 450;
  color: #ffffff;
  font-size: 60px;
  letter-spacing: 1px;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
